* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
