#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  gap: 20px;
}
.count-red{
  color: red;
  font-size: x-large;

}
.count-green{
  color:green;
  font-size: x-large;

}
.count-box{
  color: black;
  font-size: x-large;
}

