#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box-container{
  border: solid 3px black;
  height: 350px;
  width: 350px;
}
.box{
  margin: 20px;
  background-color: yellow;
  height: 50%;
  width: 50%;
}
.box-2{
  margin: 20px;
  display: none;
  height: 50%;
  width: 50%;
}
